In [9]:
import pandas as pd
import problem
import pandas as pd
import numpy as np
from sklearn.preprocessing import FunctionTransformer
import matplotlib.pyplot as plt
import seaborn as sns 
import create_db as cdb
import holidays
from datetime import datetime
from merge_transformer import MergeTransformer

In [10]:
X_train, y_train = problem.get_train_data('..')

In [11]:
X_train['Days_to_departure'] = (X_train['WeeksToDeparture'] * 7).round()

In [12]:
X_train.head()

,DateOfDeparture,Departure,Arrival,WeeksToDeparture,std_wtd,Days_to_departure
0,2012-06-19,ORD,DFW,12.875000,9.812647,90.0
1,2012-09-10,LAS,DEN,14.285714,9.466734,100.0
2,2012-10-05,DEN,LAX,10.863636,9.035883,76.0
3,2011-10-09,ATL,ORD,11.480000,7.990202,80.0
4,2012-02-21,DEN,SFO,11.450000,9.517159,80.0

In [13]:
X_train['DateOfDeparture'] = pd.to_datetime(X_train['DateOfDeparture'])
X_train['DateBooked'] = X_train['DateOfDeparture'] -  pd.to_timedelta(X_train['Days_to_departure'], unit='d')

In [14]:
X_train

,DateOfDeparture,Departure,Arrival,WeeksToDeparture,std_wtd,Days_to_departure,DateBooked
0,2012-06-19,ORD,DFW,12.875000,9.812647,90.0,2012-03-21
1,2012-09-10,LAS,DEN,14.285714,9.466734,100.0,2012-06-02
2,2012-10-05,DEN,LAX,10.863636,9.035883,76.0,2012-07-21
3,2011-10-09,ATL,ORD,11.480000,7.990202,80.0,2011-07-21
4,2012-02-21,DEN,SFO,11.450000,9.517159,80.0,2011-12-03
...,...,...,...,...,...,...,...
8897,2011-10-02,DTW,ATL,9.263158,7.316967,65.0,2011-07-29
8898,2012-09-25,DFW,ORD,12.772727,10.641034,89.0,2012-06-28
8899,2012-01-19,SFO,LAS,11.047619,7.908705,77.0,2011-11-03
8900,2013-02-03,ORD,PHL,6.076923,4.030334,43.0,2012-12-22
8901,2011-11-26,DTW,ATL,9.526316,6.167733,67.0,2011-09-20

# gen_df_state_feature

In [15]:
date_df = cdb.gen_date_df()

state_features_df = pd.read_csv("../data/unemployment_rate.csv", sep=';', index_col='State')
state_features_df.stack()
state_features_df = pd.DataFrame(state_features_df.stack()).reset_index(drop=False)
state_features_df.rename(columns={"State": "State", "level_1": "DateOfDeparture", 0: "UnemploymentRate"}, inplace=True)
state_features_df.loc[:, 'DateOfDeparture'] = pd.to_datetime(state_features_df.loc[:, 'DateOfDeparture'], format='%d/%m/%Y')
date_encoder = FunctionTransformer(cdb._encode_dates)
state_features_df = date_encoder.fit_transform(state_features_df)
state_features_df.rename(columns={"DateOfDeparture": "Date"}, inplace=True)

merge_transform = MergeTransformer(
    X_ext=date_df,
    cols_to_keep=['DateOfDeparture', 'year', 'month'],
    how='right',
    on=['year', 'month'],
    parse_dates=None)

state_features_df = merge_transform.fit_transform(state_features_df)
states_codes = pd.read_csv("../data/states.csv")

merge_transform = MergeTransformer(
    X_ext=states_codes, 
    filename=None,
    filepath=None, 
    cols_to_rename={'State': 'State'},
    how='left',
    on=['State'],
    parse_dates=None)

state_features_df = merge_transform.fit_transform(state_features_df)

state_features_df['DateOfDeparture'] = pd.to_datetime(state_features_df['DateOfDeparture'], format='%d/%m/%Y')
state_features_df.drop('State', axis=1, inplace=True)
state_features_df.rename({'Abbreviation': 'state'}, axis=1, inplace=True)

state_features_df['bank_holidays'] = state_features_df.apply(lambda x: x.Date in holidays.US(years = x.Date.year, state=x.state), axis=1)

In [16]:
state_features_df.head()

,Date,UnemploymentRate,year,month,day,weekday,week,n_days,DateOfDeparture,state,bank_holidays
0,2011-01-01,9.3,2011,1,1,5,52,14975,2011-01-09,AL,True
1,2011-01-01,7.7,2011,1,1,5,52,14975,2011-01-09,AK,True
2,2011-01-01,9.6,2011,1,1,5,52,14975,2011-01-09,AZ,True
3,2011-01-01,7.8,2011,1,1,5,52,14975,2011-01-09,AR,True
4,2011-01-01,12.4,2011,1,1,5,52,14975,2011-01-09,CA,True

In [26]:
def days_to_closest_holiday(date):
    
    if type(date) is pd.Timestamp:
        date = date.date()
    
    holiday_list = holidays.US(years = [2011, 2012, 2013])
    min_diff = 10e9
        
    for k, v in holiday_list.items():
        diff = abs((date - k).days)
#         print(f"Holiday = {k}, diff = {diff} days")
        if diff < min_diff:
            min_diff = diff
            
    return 1 / (min_diff + 1) ** 2

In [27]:
date_df = cdb.gen_date_df()
date_df['closest_holidays'] = date_df.apply(lambda x: days_to_closest_holiday(x.DateOfDeparture), axis=1)

In [28]:
date_df.head(50)

,DateOfDeparture,year,month,day,weekday,week,n_days,value,closest_holidays
0,2011-01-09,2011,1,9,6,1,14983,NaN,0.012346
1,2011-01-10,2011,1,10,0,2,14984,NaN,0.015625
2,2011-01-11,2011,1,11,1,2,14985,NaN,0.020408
3,2011-01-12,2011,1,12,2,2,14986,NaN,0.027778
4,2011-01-13,2011,1,13,3,2,14987,NaN,0.040000
5,2011-01-14,2011,1,14,4,2,14988,NaN,0.062500
6,2011-01-15,2011,1,15,5,2,14989,NaN,0.111111
7,2011-01-16,2011,1,16,6,2,14990,NaN,0.250000
8,2011-01-17,2011,1,17,0,3,14991,NaN,1.000000
9,2011-01-18,2011,1,18,1,3,14992,NaN,0.250000
10,2011-01-19,2011,1,19,2,3,14993,NaN,0.111111
11,2011-01-20,2011,1,20,3,3,14994,NaN,0.062500
12,2011-01-21,2011,1,21,4,3,14995,NaN,0.040000
13,2011-01-22,2011,1,22,5,3,14996,NaN,0.027778
14,2011-01-23,2011,1,23,6,3,14997,NaN,0.020408
15,2011-01-24,2011,1,24,0,4,14998,NaN,0.015625
16,2011-01-25,2011,1,25,1,4,14999,NaN,0.012346
17,2011-01-26,2011,1,26,2,4,15000,NaN,0.010000
18,2011-01-27,2011,1,27,3,4,15001,NaN,0.008264
19,2011-01-28,2011,1,28,4,4,15002,NaN,0.006944
20,2011-01-29,2011,1,29,5,4,15003,NaN,0.005917
21,2011-01-30,2011,1,30,6,4,15004,NaN,0.005102
22,2011-01-31,2011,1,31,0,5,15005,NaN,0.004444
23,2011-02-01,2011,2,1,1,5,15006,NaN,0.003906
24,2011-02-02,2011,2,2,2,5,15007,NaN,0.003460
25,2011-02-03,2011,2,3,3,5,15008,NaN,0.003086
26,2011-02-04,2011,2,4,4,5,15009,NaN,0.003086
27,2011-02-05,2011,2,5,5,5,15010,NaN,0.003460
28,2011-02-06,2011,2,6,6,5,15011,NaN,0.003906
29,2011-02-07,2011,2,7,0,6,15012,NaN,0.004444
30,2011-02-08,2011,2,8,1,6,15013,NaN,0.005102
31,2011-02-09,2011,2,9,2,6,15014,NaN,0.005917
32,2011-02-10,2011,2,10,3,6,15015,NaN,0.006944
33,2011-02-11,2011,2,11,4,6,15016,NaN,0.008264
34,2011-02-12,2011,2,12,5,6,15017,NaN,0.010000
35,2011-02-13,2011,2,13,6,6,15018,NaN,0.012346
36,2011-02-14,2011,2,14,0,7,15019,NaN,0.015625
37,2011-02-15,2011,2,15,1,7,15020,NaN,0.020408
38,2011-02-16,2011,2,16,2,7,15021,NaN,0.027778
39,2011-02-17,2011,2,17,3,7,15022,NaN,0.040000
40,2011-02-18,2011,2,18,4,7,15023,NaN,0.062500
41,2011-02-19,2011,2,19,5,7,15024,NaN,0.111111
42,2011-02-20,2011,2,20,6,7,15025,NaN,0.250000
43,2011-02-21,2011,2,21,0,8,15026,NaN,1.000000
44,2011-02-22,2011,2,22,1,8,15027,NaN,0.250000
45,2011-02-23,2011,2,23,2,8,15028,NaN,0.111111
46,2011-02-24,2011,2,24,3,8,15029,NaN,0.062500
47,2011-02-25,2011,2,25,4,8,15030,NaN,0.040000
48,2011-02-26,2011,2,26,5,8,15031,NaN,0.027778
49,2011-02-27,2011,2,27,6,8,15032,NaN,0.020408

In [ ]:
test_date = state_features_df.loc[0, 'Date']
min_diff = days_to_closest_holiday(test_date)
print(min_diff)